/backend/node_modules
/backend/.gitignore
/backend/package-lock.json
       


frontend/node_modules/
frontend/package-lock.json


# local env files
/forntend/.env.local
/forntend/.env.*.local

# Log files
/forntend/npm-debug.log*
/forntend/yarn-debug.log*
/forntend/yarn-error.log*
/forntend/pnpm-debug.log*

# Editor directories and files
/forntend/.idea
/forntend/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
